.mega {
    font-size: 40px !important;
    color: rgb(255, 255, 255) !important;
    word-spacing: 10px !important;
}

.gametext {
    font-size: 80px !important;
    color: rgb(0, 0, 0) !important;
    word-spacing: 10px !important;
    text-align: center !important;
}

.custom-text {
    font-size: 50px !important;
    color: white !important;
}